<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the requested resource exists as a file or directory, serve it directly
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Otherwise, forward everything else to index.html for Angular routing
  RewriteRule . /index.html [L]
</IfModule>
